.ebooks-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ebooks-container .desc {
    padding: 20px;
    width: 300px;
}

.ebooks-container .desc p {
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}

.ebooks-container ul li a{
    text-decoration: none;
    
}

.ebooks-container ul li {
    list-style-type: none;
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
}

.ebooks-container img{
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.336);
}

.coursesList h3 {
    text-align: center;
    padding-top: 20px;
}