.banner {
    width: 100%;
    height: 300px;
    background-image: url("https://i.postimg.cc/Vvb1nJh7/banner.png");
    background-position: center;
    background-size: cover; /* A imagem vai cobrir todo o banner */
    background-repeat: no-repeat;
}


.banner img {
    width: 100%;
}

@media (max-width: 840px) {
    .banner {
        height: 200px;
    }
}

@media (max-width: 624px) {
    .ebooks-container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 600px) {
    .author-info {
        flex: 1;
        text-align: left;
    }
    .social-media {
        justify-content: flex-end;
    }
}

@media (max-width: 570px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header img {
        margin-top: 25px;
    }

    /* Adiciona o estilo para o main e footer se ajustarem no celular */
    main, footer {
        width: 100%;
        padding: 0 10px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("https://i.postimg.cc/bJnLc8SG/Design-sem-nome-1.png");
        width: 100%;
        height: 500px;
    }

    .imgGalery {
        width: 200px;
        height: 200px;
    }

    .imgGalery img{
        width: 200px;
        height: 200px;
    }
}