@import url('cssfiles/media.css');
@import url('cssfiles/my5.css');
@import url('cssfiles/galery.css');
@import url('cssfiles/ebooks.css');

:root {
    /* Cores principais */
    --cor-primaria: rgb(37, 37, 37);
    --cor-secundaria: black;
    --cor-fundo: rgb(255, 255, 255);
    --cor-destaque:  rgb(255, 123, 0);
    --cor-titulo: #2c3e50;
    --cor-texto: #333;
    --cor-link: rgb(0, 110, 255);
    --cor-fundo-dark: rgba(0, 0, 0, 0.034);
    --cor-hover: rgb(233, 233, 233);
    --cor-ativo: aquamarine;
    --cor-footer: #2c3e50;
    --cor-footer-text: #ecf0f1;
    --cor-social-icon: #3498db;
    --cor-banner: #f9f9f9;
    --cor-star: orange;
    --cor-rating: rgb(59, 151, 120);
}

/* Reset de margens e padding */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    background-color: var(--cor-fundo);
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Cabeçalho */
header {
    background-image: linear-gradient(45deg, var(--cor-secundaria), var(--cor-primaria));
    color: white;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

header img {
    width: 100px;
    border-radius: 100%;
    border: solid white 5px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.185);
}

/* Bloco Principal */
main {
    background-color: var(--cor-fundo-dark);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.199);
    width: 100%;
    flex: 1;
    overflow-x: hidden;
}

/* Botões */
.button {
    width: 200px;
    height: 100px;
    background-color: var(--cor-fundo);
    border-radius: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.button a {
    font-weight: bolder;
    text-decoration: none;
    color: var(--cor-link);
}

.button:hover {
    background-color: var(--cor-hover);
}

.button:active {
    background-color: var(--cor-ativo);
}

/* Links do Rodapé */
.container-links {
    display: flex;
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Artigos */
article {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--cor-texto);
    background-color: var(--cor-banner);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article h2 {
    color: var(--cor-titulo);
    font-size: 1.8rem;
    border-bottom: 2px solid var(--cor-destaque);
    padding-bottom: 5px;
    margin-bottom: 15px;
}

article p {
    margin-bottom: 15px;
    text-align: justify;
}

article ul {
    padding-left: 20px;
    margin-bottom: 15px;
}

article ul li {
    margin-bottom: 10px;
    list-style-type: disc;
}

article ul li strong {
    color: var(--cor-destaque);
}

article strong {
    color: var(--cor-destaque);
}

/* Rodapé */
footer {
    background-color: var(--cor-footer);
    color: var(--cor-footer-text);
    padding: 20px 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    flex-shrink: 0;
}

.footer-container {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.author-info {
    flex: 1 1 100%;
}

.author-info p {
    margin: 5px 0;
    font-size: 1rem;
}

.author-info a {
    color: var(--cor-destaque);
    text-decoration: none;
    font-weight: bold;
}

.author-info a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.social-media .icon {
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 10px;
}

.social-media .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Vídeo */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Avaliações */
.star {
    color: var(--cor-star);
    font-size: 25px;
}

.rating-note {
    font-weight: bold;
    color: var(--cor-rating);
}

.star-container {
    display: flex;
    justify-content: center;
}

.qrCode {
    width: 100px;
}

.img-fluid{
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.274);
}

.seeMore {
    background: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    border: solid rgb(0, 0, 0);
    transition: 0.5s;
}

.seeMore a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.seeMore:hover {
    background-color: orange;
}

.videosYoutube {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.recent-videos-h2 {
    text-align: center;
}

.info-video {
    background-color: white;
    width: 30%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.356);
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.info-video:hover {
    scale: 1.1;
}

.info-video p {
    padding: 20px;
}

.bot-container {
    position: fixed;
    width: 300px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.247);
    border-radius: 20px;
    left: 20px;
    bottom: 20px;
    padding: 10px;
    overflow: hidden;
    overflow: scroll;
    display: none;
}

.bot-container::-webkit-scrollbar {
    display: none;
  }

.close-button {
    font-size: 20px;
    color: var(--cor-destaque);
    cursor: pointer;
    position: fixed;
}

.botCicleClosed {
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 20px;
    bottom: 20px;
    background-color: var(--cor-destaque);
    z-index: 14;
    display: block;
}

.bot-message {
    padding: 5px;
    background-color: var(--cor-destaque);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: fit-content;
    max-width: 100%;
    transition: 0.5s;
}

.person-bot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.chatbubbles {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 750px) {
    .videosYoutube {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .info-video {
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        transition: 0.5s;
    }
}

@media (max-width: 270px) {
    .galery {
        justify-content: center;
    }

    .imgGalery {
        width: 100%;
    }

    .imgGalery img {
        width: 100%;
    }
}